/**
 * Миксины для сброса стилей
 */

/**
 * Миксины для сброса стилей кнопки
 */
@define-mixin reset-button {
	padding: 0px;
    border: none;
	background: transparent;
    color: $font-color-base;
}