/**
 * Миксины для текста
 */

@define-mixin text-heading {
	padding: 10px 0px;
	border-bottom: $border-gray;
	text-transform: uppercase;
	color: $lightGray;
}

@define-mixin text-item-light {
	font-size: 12px;
	color: $gray;
}

@define-mixin text-item-bold {
	font-size: 14px;
	color: $gray;
	font-weight: 700;
}

