/**
 * Страница авторизации
 */

.logIn {
	@mixin display-flex column, nowrap;

	&__block {
		@mixin display-flex row, nowrap, center;
		height: 300px;
	}

	&__firstLogIn {
		display: flex;

		&.is-close {
			display: none;
		}
	}

	&__key {
		@mixin display-flex column, nowrap, center;

		&.is-close {
			display: none;
		}
	}

	&__heading {
		font-size: 21px;
		text-align: center;
	    color: $white;
	}
}