<!DOCTYPE html>
<html lang="ru-RU" class="wrap" id="wrap">
    <head>
        <% include ./include/head %>
    </head>

    <body id="body" class="wrap">
		
		<%- yield %>

        <% include ./include/script %>

    </body>
</html>